// Your variable overrides
$sidebar-bg-color: white;
$sidebar-color: #ffffff !default;
$icon-bg-color: #F3ECF4 !default;
$highlight-color: #000000 !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';